<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="prisoner edit">
  <h2>Edit Prisoner</h2>

  <%= form_for(:prisoner, :url => {:action => 'update', :id => @prisoner.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
       
    <div class="form-buttons">
      <%= submit_tag("Update Prisoner") %>
    </div>
    
  <% end %>
</div>
