<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="prisoner new">
  <h2>Create Prisoner</h2>

  <%= form_for(:prisoner, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Prisoner") %>
    </div>

  <% end %>
</div>
